*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* KEYFRAMES*/

@keyframes color {
    0%   { background: rgba(85,65,227,1)}
    20%   { background: rgb(44, 142, 187)}
    40%  { background: rgba(87,111,230,1)}
    60%  { background: rgb(109, 67, 185)}
    80%  { background: rgba(152,68,183,1)}
    100% { background: rgb(107, 53, 255)}
  }

/* BODY */

body{
    background-color: #000E1D;
}

/* NAVBAR */

.bg-dark{
    background-color: rgb(0, 0, 0, 0.5) !important;
    width: 100%;
}

.nav-contenedor{
  display: flex!important;
  flex-direction: row;
  justify-content: center;
}



.nav-tipografia{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
}

.nav-link, .carrito-color {
    color: #ffff !important;
    transition: 0.5s;
}

.nav-link:hover, .carrito-color:hover, .logoEstilo:hover{
    color: #fb5607 !important;
}

.logoEstilo {
    letter-spacing: 0.2rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    color: #ffff;
    transition: 0.5s;
    font-family: 'Prompt', sans-serif;
  }

.cat-margin{
    font-size: 1.2rem;
    color: #ffff;
}

.cat-h3{
    padding-top: 2px;
    font-size: 1.3rem;
    color: #ffff;
}

.cat-link, .cat-reset{
    padding: 0;
    text-decoration: none;
    color: #ffff;
    padding-left: 10px;
    padding-right: 20px;
    transition: 0.2s;
}

.cat-reset{
    font-weight: 700;
    letter-spacing: 2px;
    color: #fb5607;
    transition: 0.2s;
}

.cat-reset:hover{
    color: #fb4007;
}

.cat-link:hover{
    color: #fb5607;
}



 /* BANNER  */

.hero-home-container{
    position: relative;
    top: -110px;
    width: 100%;
    height: 100vh;
    background: url(./img/MM.jpg) no-repeat 80% / cover;
}

.hero-container{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.hero-txt{
    width: 70%;
    margin-left: 50px;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 4rem;
}

.hero-h{
    font-weight: 800;
    font-size: 3rem;
}

.hero-p{
    padding-top: 15px;
    font-size: 1.5rem;
}

.hero-btn{
    width: 160px;
    height: 3rem;
    border-radius: 15px;
    background-color: #fb5607;
    margin-top: 5px;
    padding: 5px 10px;
    text-align: center;
    color: #ffff;
    font-size: 1.3rem;
}

.hero-btn:hover{
    background-color: #fb4007;
    transition: 0.2;
}

.hero-footer{
    background-color: #fb5607;
    width: 100%;
    height: 2vh;
}


/* BODY */
body{
    min-height: 80vh;
}


/* PRUEBA HERO */

.hero-container-item {
    width: 300px;
    height: 450px;
    overflow: hidden;
    border-radius: 2%;
    box-shadow: 0 0.2rem 2rem #527586;
    margin-bottom: 5rem;
  }
  
  .hero-container-img-item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  
  .hero-img-position-item{
    margin-right: auto;
  }
  
  .hero-container-img-item img {
    height: 100%;
  }
  
  .hero-container-display-item {
    display: inline-block;
    height: 450px;
    padding: 0 15px;
    background: #33CCCC;
    animation: color 9s infinite linear;
    transition: all 0.2s ease;
    opacity: 0;
    position: relative;
    top: 0;
  }
  
  .hero-display-h2-item {
    padding: 0 5px;
    font-size: 1.3rem;
    font-weight: 700;
    border-bottom: 0.2rem solid #ffff;
  }
  
  .hero-display-p-item {
    margin-top: 20px;
  }
  
  .hero-link-display-item {
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1rem;
  }
  
  .hero-link-display-item:hover > .hero-container-display-item {
    top: -450px;
    opacity: 1;
    z-index: 1;
  }
  
  .hero-category-item {
    font-weight: 600;
    text-transform: uppercase;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 5px;
    background-color: #f77f00;
 
    border-radius: 5px;
    text-align: center;
  }
  
  .hero-container-info-item {
    padding: 20px 25px 0 25px;
    height: 20rem;
  }
  
  .hero-button-item {
    width: 100px;
    height: 15px;
    border-radius: 5%;
    background-color: #fb5607;
    padding: 5px 5px;
    text-align: center;
  }
  
  .hero-container-flex-item {
    display: flex;
  }
  
  .hero-button-item {
    justify-content: space-around;
  }
  
  .btn-examinar-item{
    font-weight: 700 !important;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    padding: 8px 10px;
    background-color: #fb5607;
    border-radius: 5px;
    text-align: center;
    color: #ffff;  
    text-decoration: none;        
  }
  
  .btn-examinar-item:hover, :checked{
    background-color: #fb4007 !important;
    border: none;
    color: #ffff !important; 
 }

 .hero-ex-stc-item{
    display: flex;
    justify-items: center;
    align-items: center;
    
 }
  
 .prod-price-item{
    font-weight: 700;
    font-size: 1.2rem;
    padding: 20px 0 0 30px;
 }

 /* FOOTER */

 .footer-bc{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #fff;
    background-color: #fb5607;
 }

 .footer-img{
    width: 50px;
    margin: 10px auto;
    display:block;
 }

 .footer-align{
    margin:10px auto;
    display:block;
 }

 /* NOSOTROS */

 .container-nosotros{
    min-height: 80vh;
    color: #fff; 
 }

 .container-nosotros h2 {
    font-size: 2rem;
    align-content: center;
 }

 /* CONTACTO */
 
 .contacto-txt{
    color: #fff
 }

 .iframe-mapa{
    width: 100%;
    max-height: 40vh;
 }

 .contacto-btn{
    background-color: #fb5607;
    border: none;
 }

 .contacto-btn:hover{
    background-color: #fb4007
 }

/* CART DISPLAY */

.background-cart{
    min-height: 80vh;
    background-color: #010a14;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    color: #ffff;
}

.cart-cont-img{
    width: 50%;
}

.btn-cart-empty{
    background-color: #fb5607;
    color: #fff;
    font-style: none;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 5px 12px;
    border-radius: 4px;
    transition: 0.2s;
}

.btn-cart-empty:hover{
    background-color: #fb4007;
    color: #fff;

}


/* DETAIL */

.detail-volver{
  width: 200px;
}

.detail-cart-container{
  align-items: end;
  display: flex;
  font-family: 'Josefin Sans', sans-serif;
}

.detail-container img{
  display: block;
  margin: auto;
}

.detail-img{
  height: 90%;
}

.detail-styles{
  color: #fff;
  max-height: 75vh;
}

.detail-title{
  font-weight: 600;
  font-size: 3.1rem;  
}

.detail-detail{
  font-size: 1.5rem;
  font-family: 'Josefin Sans', sans-serif;
}

.detail-btn{
  background-color: rgb(0,0,0,0);
  color: #ffff;
  border: none;
  padding: 0 50px;
  font-size: 2rem;
}

.count-display{
  font-size: 2rem;
}

.detail-carrito{
  background-color: #fb5607;
  border: none;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  padding: 0 10px;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 1.3rem;
}

.detail-finalizar{
  text-decoration: none;
  color: #fff !important;
  width: 100%;
}

.detail-carrito:hover, .detail-finalizar:hover{
  background-color: #fb4007;
  transition: 0.2s;
}


/* CART */

.cart-contenedor{
  justify-content: center;
  color: #fff;
}

.total-compra{
  color: #fff;
  font-size: 2rem;
}

.btn-elm-item{
  background-color: #fb5607;
  color: #fff;
  font-style: none;
  text-decoration: none;
  font-size: 1rem;
  padding: 5px 12px;
  border-radius: 4px;
  transition: 0.2s;
}

.btn-elm-item:hover{
  background-color: #fb4007;

}

/* FORMULARIO */

.error-msg{
  color: red !important;
}

.formulario{
  text-align: center;
}

label {
  color: #fff;
  font-size: 1.2rem;
  margin-right: 2rem;
  font-family: 'Josefin Sans', sans-serif;
}

.field-input {
  width: 300px;
  height: 30px;
  margin-top: 5px;
}

.form-email{
  margin-left: 15px;
}

.form-subtmit{
  background-color: #fb5607;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2rem;
  margin-top: 20px;
  transition: 0.2s;
}

.form-subtmit:hover{
  background-color: #fb4007;
}

/* SPINNER */
.spinner-container{
  min-height: 80vh;
  display: flex;
  justify-content: center;
  padding-top: 20rem;
}

.spinner-style{
  color: #fff;
  font-size: 1rem;
}

/* MEDIA */


@media screen and (min-width: 425px){
  .botonera-container{
    display: flex;
    flex-direction: column;
  }
}



@media screen and (max-width: 768px){
  .nav-contenedor{
    display: inline !important;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
  }
  .hero-txt{
    margin-left: 50px;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 1rem;
  }
  .hero-h{
    font-size: 1.5rem;
  }
  .hero-p{
    font-size: 1rem;
  }
  .footer-bc p{
    font-size: 0.8rem;
    text-align: center;
  }
  .footer-img{
    width: 40px;
    margin-top: 50px;
  }
  .footer-bc{
    height: 18vh;
  }

}

@media screen and (min-width: 768px){

  .hero-txt{
    margin-left: 50px;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 2rem;
  }
  .hero-h{
    font-size: 4rem;
  }
  .hero-p{
    font-size: 1.5rem;
  }
  .hero-home-container{
    background: url(./img/MM.jpg) no-repeat 80% / cover;
  }

}

@media screen and (min-width: 1024px){
  .hero-home-container{
    background: url(./img/MM.jpg) no-repeat 10% / cover;
  }
  .hero-txt{
    margin-left: 10px;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 2rem;
  }
  .hero-h{
    font-size: 3rem;
  }
  .hero-p{
    font-size: 1.5rem;
  }
}