body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background-color: #22223b;
  --background-shadow-color: #2f2f4b;
  --nav-color: #a8dadc;
  --nav-active-color: #f1faee;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #4a4e69 !important;
}

.nav-card-qt {
  color: var(--nav-active-color);
  padding-top: 10px;

}

.contenedorNuevo {
  margin-left: 1rem;
}

.navbar {
  box-shadow: -1px 6px var(--background-shadow-color) !important;
}

.nav-tipografia {
  font-size: 1.1rem;
  font-family: 'Josefin Sans', sans-serif;
}

.logoEstilo {
  letter-spacing: 0.2rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--nav-color);
  font-family: 'Prompt', sans-serif;
}

.logoEstilo:hover {
  color: var(--nav-color) !important;
}

a:hover {
  color: var(--nav-active-color) !important;
  transition: 0.2s;

}

.nav-link.active {
  color: var(--nav-color) !important;
}


.productos {
  color: var(--nav-active-color);
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

p {
  margin-bottom: 0;
}

.prueba:hover {
  color: var(--nav-color) !important;
  transition: 0.2s;
}