body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background-color: #182235;
  --background-shadow-color: #2f2f4b;
  --card-shadow-color: #383157;
  --nav-color: #a8dadc;
  --nav-active-color: #f1faee;
  --bten-hover-color: #816697;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #293241 !important;
}

.btn:hover{
  background-color: var(--bten-hover-color) !important;
  color: var(--nav-color)!important;
  border: 0 !important;
}


.nav-card-qt {
  color: var(--nav-active-color);
  padding-top: 10px;

}

.contenedorNuevo {
  margin-left: 1rem;
}

.navbar {
  box-shadow: -1px 6px var(--background-shadow-color) !important;
}

.nav-tipografia {
  font-size: 1.1rem;
  font-family: 'Josefin Sans', sans-serif;
}

.logoEstilo {
  letter-spacing: 0.2rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--nav-color);
  font-family: 'Prompt', sans-serif;
}

.logoEstilo:hover {
  color: var(--nav-color) !important;
}

a:hover {
  color: var(--nav-active-color) !important;
  transition: 0.2s;

}

.nav-link.active {
  color: var(--nav-color) !important;
}


.productos {
  color: var(--nav-active-color);
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

p {
  margin-bottom: 0;
}

.prueba:hover {
  color: var(--nav-color) !important;
  transition: 0.2s;
}

.card-size {
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  background-color: var(--card-shadow-color);
  color: var(--nav-color);
}

.card-size img {
  height: 12rem;
  width: 18rem;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0.5rem;

}

.card-title {
  color: var(--nav-active-color);
  font-size: 1.2rem;
  text-align: center;
}

.input-size {
  width: 5rem !important;
}

.card-btn {
  background-color: var(--nav-active-color);
  border: none;
  height: 2rem;
}

.card-btn:hover {
  background-color: var(--bten-hover-color);
  color: var(--nav-active-color);
};

.btn-add {
  justify-items: center;
}

.card {
  border-width: 0;
}

.card-btn-cart {
  background-color: var(--nav-color);
}

.card-style {
  width: 80rem;
}

.img-detail {
  width: 100%;
  height: 100%;
}

.container-detail {
  padding-bottom: 2rem;
}

.card-title-detail {
  color: var(--background-color);
  font-size: 3.5rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding-bottom: 1rem;
}

.card-detail {
  font-size: 1.2rem;
  text-align: center;
  padding: 0 50px;
}

.price-detail {
  padding-top: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  font-size: 2rem;
}

.stock-detail {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 0.5rem;
}

.btn-detail {
  justify-content: center;
}

.cat-a a {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  color: var( --nav-color);
}

.cat-a a:hover{
  color: var(--nav-active-color);
  transition: 0.5s !important;
}

.footer-bc {
  background-color: var(--background-color);
  height: 20vh;
}

.footer-bc p {
  color: var(--nav-active-color);
  text-align: center;
  padding-top: 8rem;
}

.carousel-txt{
  text-shadow: 1px 2px 2px black;
}

.card-text-container{
  height: 30vh; 
}



.card-img-container{
  height: 32vh;
}

.card-img-container img{
  height: 30vh;
}

.carousel-img{
  height: 80vh;
}
.carousel-img img{
  height: 100%;
  object-fit: cover ;
  object-position: 100% 30%
}

.card-genero-tag{
  width: 100px;
  background-color: var(--background-color);
  border-radius: 10px;
  margin-bottom: 10px !important;
  margin: auto auto;
  text-align: center;
}

.card-genero-span{
  display: block;
  margin: 0 auto;
}

.carrito-color {
  color: var(--nav-color);
  text-decoration: none;
  font-size: 1rem;
}


/* CART CSS */

.cart-img{
  height: 10vh;
}

.cart-container {
  background-color: rgb(214, 214, 214, 50%);
  box-shadow: var(--background-color) 0px 0px 10px;
  margin-top: 50px;
  padding: 20px 0;
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
}

.cart-txt-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cart-img-container{
  height: 30vh;
}

.cart-img-container img{
  height: 30vh;
  display: block;
  margin: 0px auto;
}

.cart-name{
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  padding-bottom: 5px;
}

.total-container{
  font-size: 2rem;
}

.btn-finalizar{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.carousel-fx{
  box-shadow: 0 0.2rem 2rem #527586;
}


/* PRUEBA HERO */

.hero-container {
  width: 300px;
  height: 450px;
  overflow: hidden;
  border-radius: 2%;
  box-shadow: 0 0.2rem 2rem #527586;
}

.hero-container-img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.hero-img-position{
  margin-right: auto;
}

.hero-container-img img {
  height: 100%;
}

.hero-container-display {
  display: inline-block;
  height: 450px;
  padding: 0 15px;
  background-color: #669bbc;
  transition: all 0.2s ease;
  opacity: 0;
  position: relative;
  top: 0;
}

.hero-display-h2 {
  padding: 0 5px;
  font-size: 1.3rem;
  font-weight: 700;
  border-bottom: 0.2rem solid #ffff;
}

.hero-display-p {
  margin-top: 20px;
}

.hero-link-display {
  text-decoration: none;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 1rem;
}

.hero-link-display:hover > .hero-container-display {
  top: -450px;
  opacity: 1;
  z-index: 1;
}

.hero-category {
  font-weight: 600;
  text-transform: uppercase;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 5px;
  background-color: #457b9d;
  border-radius: 5px;
  text-align: center;
}

.hero-container-info {
  padding: 20px 25px 0 25px;
  height: 20rem;
}

.hero-button {
  width: 100px;
  height: 15px;
  border-radius: 5%;
  background-color: #fb5607;
  padding: 5px 5px;
  text-align: center;
}

.hero-container-flex {
  display: flex;
}

.hero-button {
  justify-content: space-around;
}

.btn-examinar{
  font-weight: 700 !important;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  padding: 8px 10px;
  background-color: #ef233c;
  border-radius: 5px;
  text-align: center;
  color: #ffff;  
}

.btn-examinar:hover{
  background-color: #d90429 !important;
  transform: 1s !important;
  color: #ffff !important; 
  
}

.contacto-txt{
  color: #edf2f4;
}

.hero-ex-stc{
  display: flex;
  gap: 50px;
  align-items: flex-end;
  justify-content: center;  
  position: absolute;
}

.hero-bar-stc{
  width: 150px;
  height: 30px;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 5000;
  font-weight: 600;
  background-color: rgba(38, 30, 71, 0.7)
}

.prod-stock{
  color: #fff;
  opacity: 1;
}
